body {
  background-image: url("http://latimesblogs.latimes.com/.a/6a00d8341c630a53ef0168e9e9b105970c-pi");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1500px;
  height: 850px;
}

h1 {
  text-align: center;
  font-family: Comic Sans MS;
}

div#memory_board{
  background:#CCC;
  border:#999 1px solid;
  width:800px;
  height:540px;
  padding:24px;
  margin:0px auto;
}
div#memory_board > div{
  background: url(tile_bg.jpg) no-repeat;
  border:#000 1px solid;
  width:71px;
  height:71px;
  float:left;
  margin:10px;
  padding:20px;
  font-size:64px;
  cursor:pointer;
  text-align:center;
}